

/* .intro-background {
    position: absolute;
    clip-path: polygon(0 0, 63% 0, 39% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 71% 100%, 0 100%, 0% 50%);
    background: #87c3c7;
    background-image: linear-gradient(90deg, #f7fcf0, #e5f5df, #d4eece, #bde5bf, #9fd9bb, #7bcbc4, #58b7cd, #399cc6, #1e7eb7, #0b60a1, #0b60a1);
    z-index: -1;
    height: 100%;
    width: 100%;
} */

/* clip-path: polygon(0 0, 100% 0, 100% 66%, 71% 100%, 0 100%, 0% 50%); */
/* clip-path: polygon(0 0, 63% 0, 39% 100%, 0% 100%); */